<div class="row intro-style">
  <div class= "col">
    <div class="alert alert-info" role="alert">
      {{ 'Components.Input.Explainer' | translate }}
    </div>
  </div>
</div>
<div class="row">
  <div class= "col">
    <form>
      <div class="form-group">
        <label for="summaryFormControlTextarea">{{ 'Components.Input.Summary' | translate }}</label>
        <textarea class="form-control" id="summaryFormControlTextarea" rows="1" placeholder="..."></textarea>
      </div>
      <div class="form-group">
        <label for="detailsFormControlTextarea">{{ 'Components.Input.Story' | translate }}</label>
        <textarea class="form-control" id="detailsFormControlTextarea" rows="4" placeholder="..."></textarea>
      </div>
      <div class="form-group">
        <label for="ratingFormControlSelect">{{ 'Components.Input.StoryRating' | translate }}</label>
        <select class="form-control" id="ratingFormControlSelect">
          <option>{{ 'Components.Input.StoryRatingLow' | translate }}</option>
          <option>{{ 'Components.Input.StoryRatingNormal' | translate }}</option>
          <option>{{ 'Components.Input.StoryRatingHigh' | translate }}</option>
        </select>
  </div>
    </form>
  </div>
</div>
<div class="row save-to-store-style">
  <div class= "col">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onSaveToStoreClicked()">
      {{ 'Components.Input.Save' | translate }}
    </button>
  </div>
</div>
