<div class="row intro-style">
  <div class= "col">
    <div class="alert alert-info" role="alert">
      {{ 'Components.Output.Explainer' | translate }}
    </div>
  </div>
</div>
<div class="row">
  <div class= "col">
    <form>
      <div class="form-group">
        <label for="summaryFormControlTextarea">{{ 'Components.Input.Summary' | translate }}</label>
        <textarea class="form-control" id="summaryFormControlTextarea" rows="1" placeholder="" readonly></textarea>
      </div>
      <div class="form-group">
        <label for="detailsFormControlTextarea">{{ 'Components.Input.Story' | translate }}</label>
        <textarea class="form-control" id="detailsFormControlTextarea" rows="4" readonly placeholder=""></textarea>
      </div>
      <div class="form-group">
        <label for="ratingFormControlSelect">{{ 'Components.Input.StoryRating' | translate }}</label>
        <textarea class="form-control" id="ratingFormControlSelect" rows="1" placeholder="" readonly></textarea>
  </div>
    </form>
  </div>
</div>
