.welcome {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%)
}

.fullscreen {
  background-color: #99cccc;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
